/.idea/.gitignore
/.idea/BurningOKR.iml
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml

gitpod/burning-okr.log
gitpod/time-based-logs/*
bin
.vscode/settings.json
